<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Left side: EMS profile content -->
        <div class="col-lg-6 mb-lg-0 d-flex align-items-center">
            <div class="d-flex flex-row align-itmes-start w-100">
                <!-- Logo -->
                <img src="assets/faith.png" alt="EMS Logo" class="me-3" style="max-width: 70px;">
                <!-- Welcome Text -->
                <div>
                    <h1 class="mb-3">Welcome to cMS</h1>
                    <p class="mb-3">
                       clinic vaar tech
                    </p>
                    <ul>
                        <li>clinic</li>
                        <li>Track performance metrics</li>
                        <li>Hai Bye Tata!!!...</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Right side: EMS profile content -->
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Enter your Credentials
                    </h4>
                    <hr>
                    <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
                        <!--UserName-->
                        <div class="form-group">
                            <input type="text" placeholder="Enter User Name" formControlName="username"
                                class="form-control">
                        </div>
                        <!-- Validation-error -->
                        <div class="Validation-error" *ngIf="isSubmitted && formControls['username'].errors">
                            <div *ngIf="formControls['username'].errors['required']">
                                User Name is invalid or required
                            </div>
                        </div>
                        <br>

                        <!--Password-->
                        <div class="formGroup">
                            <input type="password" placeholder="Enter Password" formControlName="password"
                                class="form-control">
                        </div>
                        <!-- Validation-error -->
                        <div class="Validation-error" *ngIf="isSubmitted && formControls['password'].errors">
                            <div *ngIf="formControls['password'].errors['required']">
                                Password is invalid or required
                            </div>
                        </div>
                        <br>

                        <!--Submitt -->
                        <div>
                            <button type="submit" class="btn btn-lg btn-primary form-control">
                                LOGIN</button>
                        </div>
                        <div class="Validation-error" *ngIf="error">
                            {{error}}
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
