<div class="container">
    <h3>Edit Staff Info</h3>
    <hr>

    <!--Template Driven Form-->
    <form name="frmStaff" #empform="ngForm" autocomplete="off" (ngSubmit)="onSubmit(empform)">

        <!--StaffId-->
        <div class="form-group">
            <label>Staff Code:</label>
            <input type="text" readonly name="StaffId" class="form-control"
                [(ngModel)]="staffService.formStaffData.StaffId">
        </div>

        <!--Staff Name-->
        <div class="form-group">
            <label>Staff Name:</label>
            <input type="text" name="StaffName" #StaffName="ngModel"
                [(ngModel)]="staffService.formStaffData.StaffName" class="form-control"
                placeholder="Enter Staff Name" minlength="3" maxlength="25" required
                [ngClass]="{'is-invalid': StaffName.touched && StaffName.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="StaffName.touched && StaffName.invalid">
                <div *ngIf="StaffName.errors?.['required']">
                    Staff Name is required!
                </div>
            </div>
        </div>

        <!--Gender-->
        <div class="form-group">
            <label>Gender:</label>
            <input type="text" name="Gender" #Gender="ngModel"
                [(ngModel)]="staffService.formStaffData.Gender" class="form-control"
                placeholder="Enter Gender" required
                [ngClass]="{'is-invalid': Gender.touched && Gender.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="Gender.touched && Gender.invalid">
                <div *ngIf="Gender.errors?.['required']">
                    Gender is required!
                </div>
            </div>
        </div>

        <!--Phone Number-->
        <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" name="PhoneNumber" #PhoneNumber="ngModel"
                [(ngModel)]="staffService.formStaffData.PhoneNumber" class="form-control"
                placeholder="Enter Phone Number" minlength="10" maxlength="15" required
                [ngClass]="{'is-invalid': PhoneNumber.touched && PhoneNumber.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
                <div *ngIf="PhoneNumber.errors?.['required']">
                    Phone Number is required!
                </div>
            </div>
        </div>

        <!--Email-->
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="Email" #Email="ngModel"
                [(ngModel)]="staffService.formStaffData.Email" class="form-control"
                placeholder="Enter Email" required
                [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="Email.touched && Email.invalid">
                <div *ngIf="Email.errors?.['required']">
                    Email is required!
                </div>
            </div>
        </div>

        <!--Date Of Birth (Dob)-->
        <div class="form-group">
            <label>Date Of Birth:</label>
            <input type="date" name="Dob" #Dob="ngModel"
                [(ngModel)]="staffService.formStaffData.Dob" class="form-control"
                placeholder="Enter Date Of Birth" required
                [ngClass]="{'is-invalid': Dob.touched && Dob.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="Dob.touched && Dob.invalid">
                <div *ngIf="Dob.errors?.['required']">
                    Date of Birth is required!
                </div>
            </div>
        </div>

        <!--Address-->
        <div class="form-group">
            <label>Address:</label>
            <input type="text" name="Address" #Address="ngModel"
                [(ngModel)]="staffService.formStaffData.Address" class="form-control"
                placeholder="Enter Address" required
                [ngClass]="{'is-invalid': Address.touched && Address.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="Address.touched && Address.invalid">
                <div *ngIf="Address.errors?.['required']">
                    Address is required!
                </div>
            </div>
        </div>

        <!--Qualification-->
        <div class="form-group">
            <label>Qualification:</label>
            <input type="text" name="Qualification" #Qualification="ngModel"
                [(ngModel)]="staffService.formStaffData.Qualification" class="form-control"
                placeholder="Enter Qualification" required
                [ngClass]="{'is-invalid': Qualification.touched && Qualification.invalid}">
            <!--Validation msg-->
            <div class="validation-error" *ngIf="Qualification.touched && Qualification.invalid">
                <div *ngIf="Qualification.errors?.['required']">
                    Qualification is required!
                </div>
            </div>
        </div>

        <!--DepartmentId-->
        <div class="form-group">
            <label>Department:</label>
            <select name="DepartmentId" id="DepartmentId" #DepartmentId="ngModel" class="form-control"
                [(ngModel)]="staffService.formStaffData.DepartmentId" required>
                <option value="0" selected disabled>---Select Department---</option>
                <option value="1">Administration</option>
                <option value="2">Cardiology</option>
                <option value="3">Other</option>
                <option value="4">HR</option>
                <option value="5">Oncology</option>
                <option value="6">Laboratory</option>
                <option value="7">Pharmacy</option>
            </select>
            <div class="validation-error" *ngIf="DepartmentId.touched && DepartmentId.invalid">
                <div *ngIf="DepartmentId.errors?.['required']">
                    Department is required!
                </div>
            </div>
        </div>

        <!--Is Active-->
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" name="IsActive" #IsActive="ngModel" class="form-check-input"
                    [(ngModel)]="staffService.formStaffData.IsActive" />
                <label class="form-check-label"> ----Is Active</label>
            </div>
        </div>

        <!--Submit-->
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary form-control"
                [disabled]="!(empform.valid && empform.dirty)">
                Update
            </button>
        </div>
        <!-- Error after submit -->
        <div *ngIf="errorMessage" class="error-message validation-error">
            {{ errorMessage }}
        </div>
    </form>
</div>
