<div class="container">
    <h3>Add Consultation</h3>
  
    <!-- Form for Diagnosis and Symptoms -->
    <!-- <div class="form-group">
      <label for="symptoms">Symptoms</label>
      <input type="text" id="symptoms" class="form-control" [(ngModel)]="symptoms" placeholder="Enter symptoms" name="symptoms" required />
      <button class="btn btn-info" (click)="addSymptom()">Add Symptom</button>
    </div> -->
  
    <!-- List of Symptoms -->
    <!-- <div *ngIf="symptomsList.length > 0">
      <h4>Symptoms List:</h4>
      <ul>
        <li *ngFor="let symptom of symptomsList">{{ symptom }}</li>
      </ul>
    </div> -->
  
    <!-- Form for Diagnosis -->
    <!-- <div class="form-group">
      <label for="diagnosis">Diagnosis</label>
      <input type="text" id="diagnosis" class="form-control" [(ngModel)]="diagnosis" placeholder="Enter diagnosis" name="diagnosis" required />
    </div> -->
  
    <!-- Form for Medicine -->
    <!-- <div class="form-group">
      <label>Medicine</label>
      <div *ngFor="let medicine of medicines; let i = index">
        <input type="text" [(ngModel)]="medicine.CategoryName" class="form-control" placeholder="Category Name" name="categoryName{{i}}" required />
        <input type="text" [(ngModel)]="medicine.MedicineName" class="form-control" placeholder="Medicine Name" name="medicineName{{i}}" required />
        <input type="text" [(ngModel)]="medicine.Dosage" class="form-control" placeholder="Dosage" name="dosage{{i}}" required />
        <input type="text" [(ngModel)]="medicine.Frequency" class="form-control" placeholder="Frequency" name="frequency{{i}}" required />
        <input type="text" [(ngModel)]="medicine.Quantity" class="form-control" placeholder="Quantity" name="quantity{{i}}" required />
        <button class="btn btn-danger" (click)="removeMedicine(i)">Remove Medicine</button>
      </div>
      <button class="btn btn-info" (click)="addMedicine()">Add Medicine</button>
    </div>
   -->
    <!-- Form for Lab Test -->
    <!-- <div class="form-group">
      <label>Lab Test</label>
      <div *ngFor="let test of labTests; let i = index">
        <input type="text" [(ngModel)]="test.LabTestName" class="form-control" placeholder="Lab Test Name" name="labTestName{{i}}" required />
        <input type="text" [(ngModel)]="test.CategoryName" class="form-control" placeholder="Category Name" name="categoryNameTest{{i}}" required />
        <button class="btn btn-danger" (click)="removeLabTest(i)">Remove Lab Test</button>
      </div>
      <button class="btn btn-info" (click)="addLabTest()">Add Lab Test</button>
    </div>
   -->
    <!-- Submit Button -->
    <!-- <button class="btn btn-success" (click)="onSubmit()">Save Consultation</button>
  </div> -->
  