<!-- <form #medForm="ngForm" (ngSubmit)="onSubmit(medForm)">
    <div>
      <label for="name">Medicine Name</label>
      <input id="name" name="Name" ngModel required />
    </div>
  
    <div>
      <label for="manufacturer">Manufacturer</label>
      <input id="manufacturer" name="Manufacturer" ngModel required />
    </div>
  
    <div>
      <label for="price">Price</label>
      <input id="price" name="Price" type="number" ngModel required />
    </div>
  
    <div>
      <label for="expiryDate">Expiry Date</label>
      <input id="expiryDate" name="ExpiryDate" type="date" ngModel required />
    </div>
  
    <button type="submit" [disabled]="!medForm.valid">Add Medicine</button>
  </form>
   -->