<div class="container">
    <!-- Header -->
    <!-- Medicine info -->
    <br>
    <h3>Medicine Info</h3>
    <br>
    <br>
    <div class="header">
        <div class="row">
            <!-- Search -->
            <!-- <div class="col-sm-8">
                <input type="search" class="form-control" placeholder="Search here ....."
                       [(ngModel)]="searchTerm">
            </div> -->

            <!-- Add Medicine -->
            <!-- <div class="col-sm-4">
                <a [routerLink]="['/medicines/add']" role="button" class="btn btn-outline-primary">
                    <i class="fa fa-pills fa-lg"> </i> Add Medicine
                </a>
            </div> -->
        </div>
    </div>

    <!-- Display Records -->
    <br>
    <br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">MedicineCode</th>
            <th scope="col">MedicineName</th>
            <th scope="col">ManufacturingDate</th>
            <th scope="col">ExpiryDate</th>
            <th scope="col">Category</th>
            <th scope="col">Cost</th>
            <th scope="col">IsActive</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicine of this.filteredMedicines()">
            <td>{{'MD' + medicine.MedicineId}}</td>
            <td>{{medicine.MedicineName}}</td>
            <!-- <td>{{medicine.ManufacturingDate | date: 'dd-MMM-yyyy'}}</td>
            <td>{{medicine.ExpiryDate | date: 'dd-MMM-yyyy'}}</td> -->
            <td>{{medicine.MedicineCategory?.CategoryName}}</td>
            <td>{{medicine.Cost}}</td>
            <td><input type="checkbox" [checked]="medicine.IsActive" disabled></td>

            <td>
                <button class="btn btn-outline-info" (click)="editMedicine(medicine)">
                    <i class="fa fa-edit"></i>
                </button>
                &nbsp;
                <button class="btn btn-outline-danger" (click)="deleteMedicine(medicine)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- FOOTER -->
    <!-- <div class="footer">
        <pagination-controls class="custom-page" (pageChange)="page = $event"></pagination-controls>
    </div> -->
</div>


<!-- 
import {Medicinecategory} from "./medicinecategory";
export class Medicine {
    MedicineId: number = 0;
    Name: string = '';
    Manufacturer: string = '';
    Price: number = 0;
    MedicinecategoryId: number = 0;
    ExpiryDate: Date = new Date();
    IsActive: boolean = true;  // Add IsActive property



    medicinecategory : Medicinecategory = new Medicinecategory();

  }
   -->
